body {
  /* box-sizing: border-box; */
  /* padding: 0px; */
  /* margin: 0px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-size: 22px; */
  /* direction: rtl; */
}

.CreateCardTrainer {
  width: 100%;
  height: 15%;
  background-color: rgba(103, 153, 120, 0.322);
  border-radius: 15px;
}
.CreateCardTrainer:hover {
  width: 100%;
  height: 15%;
  background-color: rgba(108, 207, 141, 0.801);
  border-radius: 15px;
}
.CreateCardWalker {
  width: 100%;
  height: 15%;
  background-color: rgba(103, 129, 153, 0.322);
  border-radius: 15px;
}
.CreateCardWalker:hover {
  width: 100%;
  height: 15%;
  background-color: rgba(108, 207, 141, 0.801);
  border-radius: 15px;
}

.imageProfile {
  border-radius: 100%;
  width: 1.8em;
  height: 1.8em;
  box-shadow: 1px 1px 6px rgb(77, 77, 77);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
}

.category_border {
  border-radius: 3.1em;
  height: 100%;
  width: 100%;
  box-shadow: 1px 9px 15px rgb(182, 182, 182);
}
.category_border:hover {
  border-radius: 3.1em;
  height: 100%;
  width: 100%;
  box-shadow: 1px 9px 15px rgb(182, 182, 182);
}
.navbarBackGroundColor {
  background-color: rgb(108, 154, 207);
  color: #ffffff;
}
.whatsappStyle {
  background-color: green;
  color: white;
}

.btnEdit {
  padding: 0.2em 1.5rem;
  border-radius: 15px;
}
.btnEdit:hover {
  padding: 0.2em 1.5rem;
  border-radius: 15px;
  background-color: rgb(150, 199, 150);
}
.btnDelete {
  padding: 0.2em 1.5rem;
  border-radius: 35px;
}
.btnDelete:hover {
  padding: 0.2em 1.5rem;
  border-radius: 35px;
  background-color: rgb(199, 156, 150);
}

.card {
  padding: 7px;
  width: 100%;
  /* font-size: 10px; */
}

.cardImg {
  width: 90%;
  border-radius: 18px;
  border: solid #000000 0px;
  box-shadow: 2px 13px 8px rgb(189, 188, 188);
}

.buttonCall {
  padding: 4px 16px;
  background-color: rgb(66, 98, 145);
  color: white;
  box-shadow: 1px 1px 8px black;
  border-radius: 7px;
  border: solid #000000 1px;
}
.buttonEmail {
  padding: 4px 16px;
  background-color: rgb(57, 174, 182);
  color: white;
  box-shadow: 1px 1px 8px black;
  border-radius: 7px;
  border: solid #000000 1px;
}
.buttonWhatsapp {
  padding: 4px 16px;
  background-color: #25d366;
  color: white;
  box-shadow: 1px 1px 8px black;
  border-radius: 7px;
  border: solid #000000 1px;
}
.buttonFindMe {
  padding: 4px 16px;
  background-color: rgb(223, 155, 53);
  color: white;
  box-shadow: 1px 1px 8px black;
  border-radius: 7px;
  border: solid #000000 1px;
}

.imgCoverDogs {
  width: 92%;
  border-radius: 15px;
}

.form-control {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 9px 15px rgb(182, 182, 182);
}

.form-control:hover {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 9px 15px rgb(166, 172, 160);
}
.loginForm {
  border-radius: 15px;
  padding: 20px 55px;
  background-color: rgba(108, 154, 207, 0.384);
  box-shadow: 1px 9px 15px rgb(166, 172, 160);
}

.info {
  font-size: 18px;
  color: white;
}

.tags {
  box-shadow: 1px 9px 15px gray;
}

.img_banner {
  width: 85%;
  height: auto;
  box-shadow: 1px 9px 15px gray;
  border-radius: 15px;
}
.loginError {
  margin-top: 8%;
  margin-bottom: 10%;
  background-color: rgb(226, 224, 224);
  border-radius: 15px;
  padding: 0px 15px 15px;
  box-shadow: 1px 1px 11px gray;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid ;
  color: #2b2eff;
  cursor: pointer;
  border-color: gray;
}

.paginationBttns a:hover {
  color: rgb(0, 0, 0);
  background-color: #25d366;
  /* border-color: gray; */
}

.paginationActive a {
  color: white;
  background-color: #94f07daa;
}

.paginationDisabled a {
  color: rgb(0, 0, 0);
  background-color: rgba(50, 50, 50, 0.415);
}
.paginationDisabled a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(50, 50, 50, 0.415);
}
